:root {
    --color-background: #131314;
    --color-foreground: rgba(255, 255, 255, 0.9);
    --color-border: rgba(255, 255, 255, 0.1);
    --color-accent: #00bfa6;
    --font-body: 'Open Sans', monospace;
    --font-mono: 'Noto Sans Mono', monospace;
    --font-size: 14px;

    font-size: var(--font-size);
    background-color: #1b1b1b;
}

/* TEXT STYLES */

h2 {
    color: var(--color-foreground);
    font-family: var(--font-body);
    padding: 5px;
    font-size: 2em;
    margin: 0;
}

p, input, svg, li, label {
    color: var(--color-foreground);
    font-family: var(--font-body);
    font-size: var(--font-size);
}

pre {
    color: var(--color-foreground);
    font-family: var(--font-mono);
    font-size: var(--font-size);
    margin: 0;
    text-wrap: wrap;
    word-break: break-all;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:hover svg {
    color: var(--color-accent);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, button {
    /* background-color: #090909; */
    color: var(--color-foreground);
    font-family: var(--font-body);
    font-size: var(--font-size);
    background-color: var(--color-background);
    border: 1px solid var(--color-foreground);
    border-radius: 1rem;
    height: 3rem;
    padding: 0 1rem;
    transition: color 200ms, border 200ms, background-color 200ms;
}

input:focus, button:focus {
    border: 1px solid var(--color-accent);
    outline: none;
}

input[type=submit]:hover, input[type=submit]:focus, button:hover, button:focus {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    outline: none;
}

input[type=submit]:active, button:active {
    background-color: var(--color-accent);
}
